@{
    ViewBag.Title = "Home Page";
}
<section class="home swiper-container" id="home">
    <div class="home-slider swiper-wrapper">
        <div class="item swiper-slide">
            <img src="https://bizweb.dktcdn.net/100/283/279/files/lap-dat-mang-lan-van-phong-ha-noi.jpg?v=1635740364473" alt="">
            <div class="content">
                <h3>Online Shopping</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#"><button class="btn">Shop Now</button></a>
            </div>
        </div>
        <div class="item swiper-slide">
            <img src="https://vnpt.com.vn/Media/Images/20022023/nhan-vien-lap-dat-cap-quang.jpg" alt="">
            <div class="content">
                <h3>Online Shopping</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#"><button class="btn">Shop Now</button></a>
            </div>
        </div>
        <div class="item swiper-slide">
            <img src="https://png.pngtree.com/background/20230402/original/pngtree-man-installing-a-fiber-optic-cable-in-a-factory-vector-picture-image_2257185.jpg" alt="">
            <div class="content">
                <h3>Online Shopping</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#"><button class="btn">Shop Now</button></a>
            </div>
        </div>
        <div class="item swiper-slide">
            <img src="https://mangnoibo.com/uploads/images/thi-cong-mang-lan-2.jpg" alt="">
            <div class="content">
                <h3>Online Shopping</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#"><button class="btn">Shop Now</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
<!--End Of Home Section-->
<section class="product" id="product">
    <h1 class="heading"><span>Sản phẩm mới</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần </h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--1-->
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần </h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--2-->
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần</h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--3-->
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần</h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--4-->
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần</h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--5-->
        <div class="box">
            <div class="img">
                <img src="https://hugotech.vn/wp-content/uploads/1-311.png" alt="">
            </div>
            <div class="info">
                <h3>Router Wi-Fi 6 Ba băng tần</h3>
                <div class="Details">
                    <strong class="price">$500/-<span>$1000</span></strong>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fa fa-heart"></a>
                <a href="#" style="--i:2;" class="fa fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fa fa-search"></a>
            </div>
        </div>
        <!--6-->

    </div>
</section>
<!--End Of product-->
<section class="feature" id="feature">
    <h1 class="heading"><span>Sản phẩm đặc trưng</span></h1>
    <div class="row">
        <div class="image-container">
            <div class="big-img">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/b/o/bo-chia-mang-8-cong-gigabit-poe-plus-tp-link-tl-sg1008mp.jpg" alt="">
            </div>
            <div class="small-image">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/l/tl-wr844n_eu_2.0_01_large_1579155371526y.jpg" alt="" class="img-active">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/a/r/archer-c54_un_1.png" alt="">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/d/a/day-cap-mang-cat-6-ugreen-2m-nw102-20160.png" alt="">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/w/i/wifi-mesh-tp-link-deco-x60-wifi-6-ax3000-3-pack-1.png" alt="">
            </div>
        </div>
        <div class="content">
            <h3>Best Product</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span>100k review</span>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <strong class="price">100$<span>1500$</span></strong>
            <a href="#"><button class="btn">Buy Now</button></a>
        </div>
    </div>
</section>
<!--End Of feature-->
<section class="gallery" id="gallery">
    <h1 class="heading"><span>Products</span></h1>
    <ul class="controls">
        <li class="btn active" data-filter="all">all</li>
        <li class="btn" data-filter="Cable">Cable</li>
        <li class="btn" data-filter="jacket">Router</li>
        <li class="btn" data-filter="mobile">Data</li>
        <li class="btn" data-filter="watch">installation</li>
    </ul>
    <div class="image-container">
        <div class="box shoes">
            <a href="detail_product.html">
                <div class="image view view-fourth">
                    <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>Long, durable cord</span><br>
                        <span>Made in Taiwan.</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </a>
            <div class="info">
                <a href="detail_product.html">
                    <h3>New Cable</h3>
                    <div class="subinfo">
                        <strong class="price">$25/1m</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="box shoes">
            <div class="image view view-fourth">
                <img src="https://vienthongvina.net/uploads/noidung/cap-mang-dintek-cat5e-ftp-0-356.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New Cable</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box shoes">
            <a href="detail_product.html">
                <div class="image view view-fourth">
                    <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>Long, durable cord</span><br>
                        <span>Made in Taiwan.</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </a>
            <div class="info">
                <a href="detail_product.html">
                    <h3>New Cable</h3>
                    <div class="subinfo">
                        <strong class="price">$25/1m</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="box shoes">
            <div class="image view view-fourth">
                <img src="https://vienthongvina.net/uploads/noidung/cap-mang-dintek-cat5e-ftp-0-356.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New Cable</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box shoes">
            <a href="detail_product.html">
                <div class="image view view-fourth">
                    <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>Long, durable cord</span><br>
                        <span>Made in Taiwan.</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </a>
            <div class="info">
                <h3>New Cable</h3>
                <div class="subinfo">
                    <strong class="price">$25/1m</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="box shoes">
            <div class="image view view-fourth">
                <img src="https://vienthongvina.net/uploads/noidung/cap-mang-dintek-cat5e-ftp-0-356.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New Cable</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box mobile">
            <div class="image view view-seventh">
                <img src="image/gallery/mobile/1.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box mobile">
            <div class="image view view-seventh">
                <img src="image/gallery/mobile/2.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box mobile">
            <div class="image view view-seventh">
                <img src="image/gallery/mobile/3.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box watch">
            <div class="image view view-tenth">
                <img src="image/gallery/watch/pic1.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box watch">
            <div class="image view view-tenth">
                <img src="image/gallery/watch/pic2.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box watch">
            <div class="image view view-tenth">
                <img src="image/gallery/watch/pic3.jpg" alt="">
                <div class="mask">
                    <h3>New Style</h3>
                    <span>This Is A New Style</span><br>
                    <span>Wonderful Style</span>
                    <a href="#" class="info">Read More</a>
                </div>
            </div>
            <div class="info">
                <h3>New jacket</h3>
                <div class="subinfo">
                    <strong class="price">$500</strong>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Of Gallery-->
<section class="service" id="service">
    <h1 class="heading"><span>Best Service</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="https://vnpt.com.vn/Media/Images/18082023/photo_2023-08-18_16-15-48.jpg?w=500&mode=crop" alt="">
            <div class="content">
                <h1>Easy Payment</h1>
                <p>Upto 39% off on first purchase</p>
                <a href="#"><button class="btn">Explore</button></a>
            </div>
        </div>
        <div class="box">
            <img src="https://vnpt.com.vn/Media/Images/18082023/photo_2023-08-18_16-15-48.jpg?w=500&mode=crop" alt="">
            <div class="content">
                <h1>Fast Service</h1>
                <p>Online Service</p>
                <a href="#"><button class="btn">Explore</button></a>
            </div>
        </div>
    </div>
    <div class="icon-container">
        <div class="icons">
            <i class="fa fa-plane"></i>
            <h3>Fast Delivery</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores velit.</p>
        </div>
        <div class="icons">
            <i class="fa fa-user-plus"></i>
            <h3>Strong Support</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores velit.</p>
        </div>
        <div class="icons">
            <i class="fa fa-id-card-o"></i>
            <h3>Easy Payment</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores velit.</p>
        </div>
        <div class="icons">
            <i class="fa fa-shopping-bag"></i>
            <h3>Fast Shop</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores velit.</p>
        </div>
    </div>
</section>
<!--End Of Service Section-->
<section class="news">
    <h1>News Letter</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <form action="">
        <input type="email" placeholder="Pleas Enter Your Email">
        <input type="submit" class="btn">
    </form>
</section>