@model IEnumerable<ePROJECT_3.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomers.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/css//style.css">
    <link rel="stylesheet" href="~/Content/css//font-awesome.css">
    <link rel="stylesheet" href="~/Content/css/swiper.min.css">

    <link rel="stylesheet" href="~/Content/assets/css//demo.css">
    <link rel="stylesheet" href="~/Content/assets/css//style_common.css">
    <link rel="stylesheet" href="~/Content/assets/css//style4.css">
    <link rel="stylesheet" href="~/Content/assets/css//style5.css">
    <link rel="stylesheet" href="~/Content/assets/css//style7.css">
    <link rel="stylesheet" href="~/Content/assets/css//style10.css">
</head>
<body>
    <section class="gallery" id="gallery">
        <h1 class="heading"><span>Products</span></h1>
        <ul class="controls">
            <li class="btn active" data-filter="all">all</li>
            <li class="btn" data-filter="shoes">shoes</li>
            <li class="btn" data-filter="jacket">jacket</li>
            <li class="btn" data-filter="mobile">mobile</li>
            <li class="btn" data-filter="watch">installation</li>
        </ul>
        <div class="image-container">
            <div class="box shoes">
                <a href="detail_product.html">
                    <div class="image view view-fourth">
                        <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                        <div class="mask">
                            <h3>New Style</h3>
                            <span>This Is A New Style</span><br>
                            <span>Wonderful Style</span>
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="detail_product.html">
                        <h3>Dây cáp mạng </h3>
                        <div class="subinfo">
                            <strong class="price">$50</strong>
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box shoes">
                <a href="detail_product.html">
                    <div class="image view view-fourth">
                        <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                        <div class="mask">
                            <h3>New Style</h3>
                            <span>This Is A New Style</span><br>
                            <span>Wonderful Style</span>
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="detail_product.html">
                        <h3>Dây cáp mạng </h3>
                        <div class="subinfo">
                            <strong class="price">$50</strong>
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box shoes">
                <a href="detail_product.html">
                    <div class="image view view-fourth">
                        <img src="https://vienthongvina.net/uploads/noidung/capmanglan-duc-san-dintek-cat6a-utp-3met-patch-cord-utpcat6a10gb-dintek-3m-0-196.jpg" alt="">
                        <div class="mask">
                            <h3>New Style</h3>
                            <span>This Is A New Style</span><br>
                            <span>Wonderful Style</span>
                            <a href="#" class="info">Read More</a>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="detail_product.html">
                        <h3>Dây cáp mạng </h3>
                        <div class="subinfo">
                            <strong class="price">$50</strong>
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box jacket">
                <div class="image view view-fifth">
                    <img src="image/gallery/jacket/pic1.png" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box jacket ">
                <div class="image view view-fifth">
                    <img src="image/gallery/jacket/pic2.png" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box jacket">
                <div class="image view view-fifth">
                    <img src="image/gallery/jacket/pic3.png" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box mobile">
                <div class="image view view-seventh">
                    <img src="image/gallery/mobile/1.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box mobile">
                <div class="image view view-seventh">
                    <img src="image/gallery/mobile/2.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box mobile">
                <div class="image view view-seventh">
                    <img src="image/gallery/mobile/3.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box watch">
                <div class="image view view-tenth">
                    <img src="image/gallery/watch/pic1.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box watch">
                <div class="image view view-tenth">
                    <img src="image/gallery/watch/pic2.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box watch">
                <div class="image view view-tenth">
                    <img src="image/gallery/watch/pic3.jpg" alt="">
                    <div class="mask">
                        <h3>New Style</h3>
                        <span>This Is A New Style</span><br>
                        <span>Wonderful Style</span>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="info">
                    <h3>New jacket</h3>
                    <div class="subinfo">
                        <strong class="price">$500</strong>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Scripts/js/script.js"></script>
<script src="~/Scripts/js/swiper.min.js"></script>
<script>

    $(document).ready(function () {
        $('.btn').click(function () {
            const value = $(this).attr('data-filter');
            if (value == 'all') {
                $('.box').show('1000');
            } else {
                $('.box').not('.' + value).hide('1000');
                $('.box').filter('.' + value).show('1000');
            }
        })

        $('.btn').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })
    });

    var swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });
</script>
